@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
* {
  --magenta: #ee3d8f;
  --celeste: #37bbed;
  --morado: #9283be;
  --gris-claro: #9e9e9e;
  --titulos: #333;
  --textos: #333;
  --fondo-pantalla: rgb(235, 245, 251);
  --fondo-Cabecera: #18a0fb;
  --fondo-Footer: #333;
  --fondo-Menu: #333;
  --texto-footer: #9e9e9e;
  --titulo-Grilla: #727272;
  --borde-inferior-Grilla: #727272;
  --borde-Grilla: #c5c5c5;
  --grafica-amarillo: rgb(252, 210, 0);
  --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
  --grafica-celeste: rgb(0, 169, 232);
  --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
  --grafica-bordo: rgb(171, 40, 40);
  --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
  --grafica-lila: rgb(112, 76, 159);
  --grafica-lila-claro: rgba(112, 76, 159, 0.5);
  --grafica-lila2: rgb(77, 46, 110);
  --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
  --grafica-gris: rgb(128, 128, 128);
  --grafica-gris-claro: rgb(128, 128, 128, 0.5);
  --grafica-verde: rgb(102, 171, 60);
  --grafica-verde-claro: rgba(102, 171, 60, 0.5);
  --mensaje-usuario-amarillo: #ffc107;
  --mensaje-usuario-verde: #28a745;
  --mensaje-usuario-rojo: #dc3545;

}
* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}



.imagen1{
 height: 40%;
 width: 40%;
 margin-right: 5%;
 
}
.imagen2{
  height: 40%;
  width: 40%;
 
}
.imagen3{
  height: 40%;
  width: 40%;

}
footer{
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: right;
  background-color: var(--fondo-Footer);
  color: var(--texto-footer);
  font-family: 'Roboto';
  
}
.imagenesFooter{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 1%;
  margin-top: 2%;
  
}
.textoFooter{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-top: 1.4%;
}


.header-page{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--fondo-Cabecera);
  color: white;
  width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.partido {
  text-align: left;
  font-weight: 100;
  font-size: 1px;
}

#cuadros_estadisticas{
  overflow-y: scroll;
  overflow-x: hidden;
}


.partido{
  font-size: small;
  display: grid;
  grid-template-columns: 25% 25% 20% 30%;
  grid-template-rows: 35% 35% 30%;
  padding: 2px;
}
.partido_nombre{
  grid-column: 1/4;
  grid-row: 1/2;
}

.partido_porcentaje{
  grid-column: 4/5;
  grid-row: 1/2;
}

.partido_votos{
  grid-column: 4/5;
  grid-row: 2/3;
}

.barras{
  grid-column: 1/5;
  grid-row: 3/4;
  margin: 5px;
  border-radius: 8px;
}

.barra_porcentaje{
  background-color: rgb(24, 255, 78);
}

.barra_fondo{
  background-color: #9f9f9f9a;
}

#messages {
  display: flex;
  justify-content: center;
  margin: auto;
  background: transparent;
  text-align: center;
  font-size: 12px;
}

.mensajes {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  padding: 15px;
  list-style-type: none;
  width: 400px;
  border-radius: 20px;
}

.amarillo {
  background-color: var(--mensaje-usuario-amarillo);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
}

.verde {
  background-color: var(--mensaje-usuario-verde);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
}

.rojo {
  background-color: var(--mensaje-usuario-rojo);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
}

.verde p,
.rojo p,
.amarillo p {
  font-size: 15px;
  padding: 10px;
  color: #FFffFF;
  font-weight: 200;
}
.hidden {
  display: none;
}

#sin_datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sin_datos img {
  width: 60%;
  height: 60%;
}

#sin_datos h1 {
  background-color: rgb(252, 210, 0);
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}


/*barra de progreso*/
.progress {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar {
  height: 100%;
  display: flex;
  align-items: center;
  transition: width 0.25s;
  border-radius: 5px;
}

.progress-bar-text {
  margin-left: 10px;
  font-weight: bold;
  color: var(--textos);
}

.chart-wrap {
  --grid-color: #aaa;
  --bar-thickness: 25px;
  --bar-rounded: 3px;
  --bar-spacing: 10px;
  font-family: sans-serif;
  width: var(--chart-width);
}

.chart-wrap .title {
  font-weight: bold;
  padding: 1.8em 0 2.8em;
  text-align: center;
  white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
  transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
  /* giramos las letras para horizontal*/
  transform: rotate(45deg);
  padding-top: 0px;
  display: block;
}

.chart-wrap .grid {
  margin-left: 50px;
  position: relative;
  padding: 5px 0 5px 0;
  height: 60%;
  width: 60%;
  border-left: 2px solid var(--grid-color);
  font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: '0%';
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}

.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: '100%';
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
  transform: rotate(90deg);
}

.chart-wrap .bar {
  width: var(--bar-value);
  height: var(--bar-thickness);
  margin: var(--bar-spacing) 0;
  background-color: var(--bar-color);
  border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.bar:nth-child(1) {
  --bar-color: rgb(0, 169, 232);
}

.bar:nth-child(2) {
  --bar-color: rgb(52, 194, 82);
}

.bar:nth-child(3) {
  --bar-color: rgb(255, 207, 51);
}

.bar:nth-child(4) {
  --bar-color: rgb(255, 105, 180);
}

.bar:nth-child(5) {
  --bar-color: rgb(148, 0, 211);
}

.bar:nth-child(6) {
  --bar-color: rgb(255, 165, 0);
}

.bar:nth-child(7) {
  --bar-color: rgb(171, 40, 40);
}

.bar:nth-child(8) {
  --bar-color: rgb(0, 0, 255);
}

.bar:nth-child(9) {
  --bar-color: rgb(128, 128, 128);
}

.bar:nth-child(10) {
  --bar-color: rgb(255, 255, 102);
}

.bar:nth-child(11) {
  --bar-color: rgb(0, 128, 128);
}

.bar:nth-child(12) {
  --bar-color: rgb(128, 0, 128);
}

.bar:nth-child(13) {
  --bar-color: rgb(139, 0, 0);
}

.bar:nth-child(14) {
  --bar-color: rgb(255, 182, 193);
}

.bar:nth-child(15) {
  --bar-color: rgb(0, 0, 139);
}

.bar:nth-child(16) {
  --bar-color: rgb(184, 134, 11);
}

.bar:nth-child(17) {
  --bar-color: rgb(0, 100, 0);
}

.bar:nth-child(18) {
  --bar-color: rgb(255, 69, 0);
}

.bar:nth-child(19) {
  --bar-color: rgb(139, 69, 19);
}

.bar:nth-child(20) {
  --bar-color: rgb(64, 64, 64);
}

.chart-wrap .bar:hover {
  opacity: 0.7;
}

.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}
