* {
    --magenta: #ee3d8f;
    --celeste: #37bbed;
    --morado: #9283be;
    --gris-claro: #9e9e9e;
    --titulos: #333;
    --textos: #333;
    --fondo-pantalla: rgb(235, 245, 251);
    --fondo-Cabecera: #18a0fb;
    --fondo-Footer: #333;
    --fondo-Menu: #333;
    --texto-footer: #9e9e9e;
    --titulo-Grilla: #727272;
    --borde-inferior-Grilla: #727272;
    --borde-Grilla: #c5c5c5;
    --grafica-amarillo: rgb(252, 210, 0);
    --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
    --grafica-celeste: rgb(0, 169, 232);
    --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
    --grafica-bordo: rgb(171, 40, 40);
    --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
    --grafica-lila: rgb(112, 76, 159);
    --grafica-lila-claro: rgba(112, 76, 159, 0.5);
    --grafica-lila2: rgb(77, 46, 110);
    --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
    --grafica-gris: rgb(128, 128, 128);
    --grafica-gris-claro: rgb(128, 128, 128, 0.5);
    --grafica-verde: rgb(102, 171, 60);
    --grafica-verde-claro: rgba(102, 171, 60, 0.5);
    --mensaje-usuario-amarillo: #ffc107;
    --mensaje-usuario-verde: #28a745;
    --mensaje-usuario-rojo: #dc3545;

}




li {
    list-style-type: none;
    margin-left: 1%;
}

header li a {
    text-decoration: none;
    color: #FFF;
}

.nav-items {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-bottom: 6px;
    width: 100%;
}


.filtrar {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 8%;
    margin-right: 10px;
    margin-left:10px ;
    
}


.año {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.cargo {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.distrito {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.select-general{
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    color: var(--celeste);
    font-weight: bold;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.inicio {
    background-color:#333;
    border-radius: 8px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    width: 90px;
    height: 30px;
    cursor: pointer;
    margin-right: auto;
   
    
}

.inicio:hover {
    background-color: var(--gris-claro);
}



.nav-paso {
    background-color: var(--magenta);
    border-radius: 8px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    width: 90px;
    height: 30px;
    cursor: pointer;
    border: none;
    
}



.nav-paso:hover {
    background-color: var(--gris-claro);
}
.nav-informes {
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #333;
    width: 90px;
    height: 30px;
    cursor: pointer;
    }
  
  .nav-informes:hover {
    background-color: var(--gris-claro);
  }

.menu {

    padding-top: 8px;
    background-color: var(--fondo-Menu);
    width: 100%;

}

.logo {

    width: 150px;
    padding-left: 5%;
}


.texto-path {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--celeste);
}


.boton-agregar {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--gris-claro);
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    width: 200px;
    margin-right: 21%;
    margin-top: 2%;


}

.boton-agregar:hover {
    color: var(--textos);
}

#sec-contenido {

    display: flex;
    justify-content: end;
    margin-right: 13%;


}







.mesa-escrutada {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: var(--celeste);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 150px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
    flex-direction: row;

}

.electores {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: var(--magenta);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 150px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;


}

.participacionEscrutado {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: var(--morado);
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 150px;
    padding: 0.5rem 1rem;
    color: #FFF;
    font-size: 12px;
}


#recuadros {
    justify-content: center;
    
}





.sec-titulo {
    margin-left: 14%;
    margin-top: 5%;
}

.grid{
    height: 90%;
}

.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}

/* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
}

.chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 10px;
    position: relative;
    padding: 5px 0 5px 0;
    margin-top: 200px;
    height: 25%;
    width: 50%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
}

/* posicionamos el % del gráfico*/
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: 0.5em;
}

/* giramos las valores de 0% y 100% para horizontal */
.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

/*barra de progreso*/
.progress {
    height: 5%;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;

}




.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
}

.cuadro-texto{
    margin: 0 20px;
   position: fixed-texto;
}


.cuadros{
    margin: 35px;
    display: flex;
    justify-content: space-around;
    height: 600px;
    width: 90%;
}

.cuadros > *{
    display: block;
    border: 1px var(--borde-Grilla) solid;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 33vw;
    margin: 10px;
}

.cuadros > h3{
    margin: auto;
}
.cuadros-texto{
    font-weight: bold;
    padding: 1.8em 0 0 0;
    white-space: nowrap;
    justify-self: center;
}
#cuadros_mapas > svg{
    padding-top: 100px;
}
.placeholder_estadisticaHor{
    overflow: hidden scroll;
}



#sec-contenido,
#recuadros {
  display: none;
}



